<div><h3>Power Component</h3>
  
  <form (submit)='setPower()'>
      Initial Power Level
      <input type="number" max='100' min='0' name='powerlevel' [(ngModel)]="powerlevel">
      <input type="submit" value="Calculate Powers">  
  </form>
</div>

<br>

<div class='block'>
  <app-human [humanpower]='powerlevel'> </app-human>
</div>

<div class='block'>
    <app-saiyan [power]='powerlevel'> </app-saiyan>
</div>
  
<div class='block'>
  <app-supersaiyan [power]='powerlevel'> </app-supersaiyan>
</div>


<div class='block'>
  <app-supersaiyantwo [power]='powerlevel'> </app-supersaiyantwo>
</div>

<div class='block'>
  <app-supersaiyanthree [power]='powerlevel'> </app-supersaiyanthree>
</div>
    
<div class='block'>
  <app-supersaiyanfour [power]='powerlevel'> </app-supersaiyanfour>
</div>
      
  